body {
  margin: 0;
  font-family: 'Lora', serif;
  background-image: url("../images/repeat-img.svg");
  background-size: 70px;
}

main {
  background-color: #fff;
}

.masthead {
  color: #ba1515;
  font-family: 'Molle', cursive;
}

header {
  background-color: #fff;
}

h1 {
  background-color: #fff;
}

h1, h3, .footer-text {
  font-family: 'Montserrat', sans-serif;
}

.footer-text {
  background-color: #ba1515;
  color: #fff;
}
