body {
  margin: 0;
  font-family: 'Lora', serif;
  background-image: url("../images/repeat-img.svg");
  background-size: 50px;
}

.masthead {
  color: #ba1515;
  font-family: 'Molle', cursive;
}


h1, h3 {
  font-family: 'Montserrat', sans-serif;
}
