body {
  margin: 0;
  font-family: 'Lora', serif;
  background-image: url("../images/repeat-img.svg");
  background-size: 70px;
}

main {
  background-color: #fff;
}

.masthead {
  color: #ba1515;
  font-family: 'Molle', cursive;
}

header {
  background-color: #fff;
}

h1 {
  background-color: #fff;
}

h1, h3, footer {
  font-family: 'Montserrat', sans-serif;
}

nav a:hover {
  color: #ed3333;
}

li {
  list-style-type: none;
}

footer {
  background-color: #ba1515;
  color: #fff;
  height: 3em;
}
